button {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 35px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
