.checkbox-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 3px;
}

.checkbox-container:hover .checkbox-custom {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkbox-custom {
    background-color: #4CAF50;
}

.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox-custom:after {
    display: block;
}

.checkbox-custom:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
