@import "button.css";
@import "checkbox.css";
@import "select.css";
@import "input.css";


:is(input, select).error {
    border-color: rgb(175, 76, 76);
    box-shadow: 0 0 5px rgba(175, 76, 76, 0.5);
}

label {
    color: #454545;
    padding-left: 3px;
    font-size: 12px;
}
